a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
	// font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
	font-family: arial,\\860B\65B9-\7E41,PingFang TC,\\4FE1\9ED1\9AD4w4,xingothic-tc-w4,\\601D\6E90\9ED1\9AD4,Noto Sans CJK TC,\\9ED1\9AD4\7E41,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,\\5137\9ED1 Pro,LiHei Pro,San Francisco,serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}